 <!-- footer starts here -->
 <footer>
    <div class="row">
        <div class="col">
            <img src="./logo.jpg" alt="logo"><br>
            <p>
                "Transform your space with our curated
                collection of stylish and functional furniture.
                From cozy seating to elegant accents, discover
                the perfect pieces to elevate your home. Shop
                now for quality craftsmanship and timeless designs."
            </p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"></div>
            </h3>
            <p>Yet to be filled</p>
            <p class="email-id">homebeing@outlook.com</p>
            <h4>+91 - xxxxx xxxxx</h4>
        </div>
        <div class="col">
            <h3>Links <div class="underline"></div>
            </h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter <div class="underline"></div>
            </h3>
            <form>
                <i class='bx bx-envelope'></i>
                <input type="email" placeholder="enter your email id" required>
                <button type="submit"><i class='bx bxs-right-arrow-alt'></i></button>
            </form>
            <div class="social-icons">
                <i class='bx bxl-facebook-square'></i>
                <i class='bx bxl-whatsapp'></i>
                <i class='bx bxl-twitter'></i>
                <i class='bx bxl-instagram'></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright"> Home Being 2024 - All Rights Reserved</p>
</footer>
</body>
