    <!--navbar-->
    <nav id="navbar">
        <div id="logo">
            <img src="./logo w name.png" alt="logo">
        </div>
        <div class="right">

            <ul>
                <li><a class="item" href="#home"><span id="item-inuse">Home </span></a></li>
                <li><a class="item " href="./store.html">Store</a></li>
                <li><a class="item" href="./blogs.html">Blogs</a></li>
                <li><a class="item" href="#">Cart</a></li>
                <li><a class="item" href="./contactform.html">Contact Us</a></li>

                <a href="./log.html" id="getq">Login <img id="arrow" src="./Img_files/maki_arrow.svg" alt="">
                </a>
            </ul>
        </div>
    </nav>
    <!--navbar ends-->

