<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebeing</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
        <div>
            
        </div>
        <label for="title" class="form-label">Title</label>
<input name="listing[title]" placeholder="enter title" type="text" class="form-control"/>
<br /><br />
<textarea name="listing[description]" placeholder="enter Description"></textarea>
<br /><br />
<input name="listing[image]" placeholder="enter image URL/Link" type="text" />
<br /><br />
<input name="listing[price]" placeholder="enter price" type="number" />
<br /><br />
<input name="listing[location]" placeholder="enter location" type="text" />
<br /><br />
<button>Add</button>
    </form>
</body>
</html>