<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-3">
        </div>
        
            <img src="/images/<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    <%= listing.description %> <br>
                    <p class="date" style="text-transform: uppercase"><%= listing.price %></p> <br>
                </p>
            </div>
        
        <br />
        
        
    </div>
</body>
