@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #D7D7D7;
    --second-bg-color: #bcbcbc;
    --block-color: #484848;
    --element-color: #FF9341;
    --text-color: #7F7B7B;
    --white: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  rgb(250, 248, 245);;
}




#getq {
    display: flex;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    background-color: var(--element-color);
    align-items: center;
    justify-content: center;

}

#arrow {
    padding-left: 7px;
    width: 25px;
    height: 25px;
}


#item-inuse {
    color: var(--element-color);
}


/* nanvbar ends  */

.smallcontainer {
    max-width: 50%;
    
    margin: auto;
}

.row {
    display: flex;
 
    justify-content: space-around;
}

.single-product {
    margin-top: 80px;

}

.col2 img {
    width: auto;
    height: 250px;
    object-fit: cover;

}



.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-product .col2 img {
    padding: 5;
}

.single-product .col2 {
    padding: 10px;
}



.col2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}



.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ffaa00;
}

.input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #555;
}

/*.single-product .fa{
    color: #555;
    margin-left: 10px;
}*/

p {
    color: #555;
}

.btn {
    display: inline-block;
    background: #ffaa00;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:0.5s;
}

.btn:hover {
    background: #952a00;
}



