<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="./favicon_io/favicon.ico">

<body>

    <!--navbar-->
    <nav id="navbar">
        <div id="logo">
            <img src="/Img_files/logo w name.png" alt="logo">
        </div>
        <div class="right">

            <ul>
                <li><a class="item" href="/home"><span id="item-inuse">Home</span></a></li>
                <li><a class="item " href="/listings">Store</a></li>
                <li><a class="item" href="/blogs">Blogs</a></li>
                <li><a class="item" href="/cart">Cart</a></li>
                <li><a class="item" href="/contact">Contact Us</a></li>
                <% if(!currUser) { %>
                    <a href="/login" id="getq">Login <img id="arrow" src="./Img_files/maki_arrow.svg" alt="">
                        <% } %>
                            <% if(currUser) { %>
                                <a href="/logout" id="getq">Logout <img id="arrow" src="./Img_files/maki_arrow.svg"
                                        alt="">
                                    <% } %>
                                </a>
            </ul>
        </div>
    </nav>
    <!--navbar ends-->


    <section id="home">
        <div class="block-color">
            <div class="rec3">
                <h1>Transform <br> Your Space</h1>
                <div class="dextop1-content">
                    <div>
                        <p class="d1-p1">
                            Plan your dream <span class="orange">home</span> and <span class="orange">interiors
                            </span> with us
                        </p>

                        <p class="d1-p2">Get a consultation with us now!</p>
                        <div class="km-margin">
                            <a id="knowmore" href="./contactform.html">Know More</a>
                        </div>
                    </div>
                    <img id="rec2" src="./Img_files/Rectangle 1.png" alt="home1">
                </div>
            </div>
        </div>
        <div class="rec1">
        </div>
        </div>
    </section>

    <section class="services">
        <h1 class="h-primary center">
            <div class="sec-head">
                Services We Offer
            </div>
        </h1>
        <div id="services">
            <div class="box">
                <a href="/category/livingroom">
                    <img src="./Img_files/Store_home.jpeg" alt="Room Img">
                    <h2 class="h-secondary ">Living Room</h2>
                    <p class="center">Dive into the heart of comfort and style! Click below to discover our curated
                        selection of living room essentials. From plush sofas to elegant décor, transform your space
                        into a sanctuary of relaxation and entertainment.</p>
                </a>
            </div>
            <div class="box">
                <a href="/category/kitchen">
                    <img src="./Img_files/index imgs/kitchen.jpg" alt="Room Img">
                    <h2 class="h-secondary ">Kitchen</h2>
                    <p class="center">Unlock the gateway to your dream kitchen! Click below to explore our wide range of
                        kitchen products designed to make cooking a breeze. From utensils to appliances, find everything
                        you need to create delicious meals and unforgettable memories. </p>
                </a>
            </div>
            <div class="box">
                <img src="./Img_files/index imgs/room.jpg" alt="Room Img">
                <h2 class="h-secondary">Bedroom</h2>
                <p class="center">Indulge in the art of relaxation! Click below to explore our collection of bedroom
                    essentials designed to create your personal haven. From cozy bedding to tranquil accents, make your
                    bedroom a sanctuary for rest and rejuvenation. </p>
            </div>

            <!-- <div class="box">
                <img src="./Img_files/index imgs/drawing.jpg" alt="Room Img">
                <h2 class="h-secondary">Consultation</h2>
                <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse atque expedita,Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Eaque </p>
            </div>
            <div class="box">
                <img src="./Img_files/index imgs/paint.jpg" alt="Room Img">
                <h2 class="h-secondary">Quotation</h2>
                <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse atque expedita,Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Eaque </p>
            </div>
        </div> -->
    </section>

    <section class="why-choose-us">

        <div class="box">
            <h1 class="h-primary center">
                <div class="sec-head">
                    Why Choose Us ?
                </div>
            </h1>

            <section class="first">
                <div>

                    <span>Quality <span class="orange">Craftsmanship</span></span>
                    <span>You can trust that each item is made with care, using premium materials to enhance both
                        aesthetics
                        and longevity.</span>
                </div>

                <div class="secImg">
                    <img src="./Img_files/why choose us/working1.jpg" alt="">

                </div>
            </section>
            <div class="separation"></div>

            <section class="first second">

                <div class="secImg">
                    <img src="./Img_files/why choose us/carpenter.jpg" alt="">

                </div>
                <div>
                    <span><span class="orange">Customization</span> Options</span>
                    <span>We offer a range of customization options to meet your unique preferences and style.</span>
                </div>
            </section>

            <div class="separation"></div>
            <section class="first third">
                <div>
                    <span>Exceptional <span class="orange">Customer </span> Service:</span>
                    <span> We strive to provide a positive and hassle-free shopping experience for all our
                        customers.</span>
                </div>

                <div class="secImg">
                    <img src="./Img_files/why choose us/working2.jpg" alt="">

                </div>
            </section>

        </div>
    </section>



    <section class="about-us">

        <h1 class="h-primary center">
            <div class="sec-head">
                About Us
            </div>
        </h1>

        <section class="first">
            <div class="about-txt">
                What began as a college project evolved into a comprehensive website initiated by four classmates.
                Specializing in services for new homes, the platform focuses on modular kitchens and various home
                essentials. This student-driven venture seamlessly transitioned from academia to reality, showcasing the
                team's dedication. Now a full-fledged website, it provides a one-stop solution for individuals seeking
                top-notch modular kitchen and home services, embodying the collaborative spirit and entrepreneurial
                drive of the original four classmates.

                <div class="km-margin">
                    <a id="knowmore" href="./aboutus.html">Know More</a>
                </div>
            </div>

            <div class="about-img">
                <img src="./Img_files/product_img-3.jpeg" alt="">

            </div>
        </section>
    </section>
    <!-- 
    <section class="blogs">


    </section> -->



    <!-- footer starts here -->
    <footer>
        <div class="row">
            <div class="col">
                <img src="./Img_files/logo.jpg" alt="logo"><br>
                <p>
                    "Transform your space with our curated
                    collection of stylish and functional furniture.
                    From cozy seating to elegant accents, discover
                    the perfect pieces to elevate your home. Shop
                    now for quality craftsmanship and timeless designs."
                </p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"></div>
                </h3>
                <p>Yet to be filled</p>
                <p class="email-id">homebeing@outlook.com</p>
                <h4>+91 - xxxxx xxxxx</h4>
            </div>
            <div class="col">
                <h3>Links <div class="underline"></div>
                </h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/listings">Store</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/contact">Contacts Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="underline"></div>
                </h3>
                <form>
                    <i class='bx bx-envelope'></i>
                    <input type="email" placeholder="enter your email id" required>
                    <button type="submit"><i class='bx bxs-right-arrow-alt'></i></button>
                </form>
                <div class="social-icons">
                    <i class='bx bxl-facebook-square'></i>
                    <i class='bx bxl-whatsapp'></i>
                    <i class='bx bxl-twitter'></i>
                    <i class='bx bxl-instagram'></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright"> Home Being 2024 - All Rights Reserved</p>
    </footer>
</body>

</html>