<!-- cart.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content goes here -->
</head>
<body>
    <!-- Display product details in the cart -->
    <h2>Cart</h2>
    <div>
        <p>Product Name: <%= listing.title %></p>
        <p>Price: <%= listing.price %></p>
        <p>Image: <img src="/images/<%= listing.image %>" alt="Product Image"></p>
        <p>Quantity: <%= quantity %></p>
        

    </div>
</body>
</html>
