@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

:root {
    --bg-color: #D7D7D7;
    --second-bg-color: #bcbcbc;
    --block-color: #484848;
    --element-color: #FF9341;
    --text-color: #7F7B7B;
    --white: #ffffff;
}

body{
    background-color:rgb(250, 248, 245) ;
}
/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 10;
    background-color:rgb(250, 248, 245);
}

#navbar::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

/* Navigation Bar: logo and image */

#logo {
    margin: 5px 20px;
}

#logo img {
    height: 100px;
    width: 200px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
    flex-wrap: wrap;
    color: var(--text-color);
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--text-color);

}

/* .item {
    color: var(--text-color);
} */

#navbar ul li a:hover {
    /* background-color: white; */
    color: black;
}


#getq {
    display: flex;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    background-color: var(--element-color);
    align-items: center;
    justify-content: center;

}

#arrow {
    padding-left: 7px;
    width: 25px;
    height: 25px;
}





/* nanvbar ends  */

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom:25px ;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #ffaa00;
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    margin-left: 40px;
    overflow: hidden;
}
 img{
    width: 600px;
    height: 600px;
    display: block;
    transition: 0.5s ease;
    padding: 10%;
}
 img:hover{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffae00;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color:rgb(189, 189, 189) ;
}

/* footer  */

footer {
    width: 100%;
    position: absolute;
    color: #ffffff;
    background: linear-gradient(to right, #af5301, #ff6600);
    padding: 70px 3px 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    text-decoration: none;
    color: black;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .bx {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .bx {
    font-size: 16px;
    color: #ccc;
}

.social-icons .bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.social-icons .bx:hover {
    color: black;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid#ffffff;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}


@media screen and (max-width:768px) {
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}


