@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color: #D7D7D7;
    --second-bg-color: #bcbcbc;
    --block-color: #484848;
    --element-color: #FF9341;
    --text-color: #7F7B7B;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 10;
    background-color: var(--bg-color);
}

#navbar::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

/* Navigation Bar: logo and image */

#logo {
    margin: 10px 20px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
    flex-wrap: wrap;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    display: block;
    color: black;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    background-color: white;
    color: var(--text-color);
}

#navbar ul li a: {
    color: aqua;
}

/* navbar END  */