@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'poppins', sans-serif;
}

body{
  background: url('https://s3-alpha-sig.figma.com/img/f36d/326a/6adf2ff3ce1f677a2ec4f8f48905f68b?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JDQouPF7QGyhYqPRPPup7-7RyXYc6nORZX~gO2N6lz~-OSUjushQQenWYvodkKpUxIQyrHz~M9-HKlnYW-e94L2HyjVtpSNSW9XgS-sbpcQoAG0YKJ1DHnumUnjnq9ZXQhG~oKtuHrLVFWCLxKYZLcbzLG1wUQSDkWfcAAxoZZETqHTeeFem1DeJwrqTd6ff7T3eyV0IwN2HgitfJ0ZDgRrgV1sP5-Vu1eh1orXWz5OK-eqZb1t4XAfC5ikt5LUzk0HLd5ggUt1uWzg6RvzJRtR4wSFuBaqRQsohx6Ci-Xesdi4M-IHonMH-xVuEF1mM~pDfjcZCXe56idYxzzrPrQ__') no-repeat top center;
  background-size: cover;
  height: 100vh;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 10;
    background-color: rgb(250, 248, 245);
}

#navbar::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

/* Navigation Bar: logo and image */

#logo {
    margin: 5px 20px;
}

#logo img {
    height: 69px;
    width: 200px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
    flex-wrap: wrap;
    color: var(--text-color);
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--text-color);

}

/* .item {
    color: var(--text-color);
} */

#navbar ul li a:hover {
    /* background-color: white; */
    color: black;
}

/* #navbar ul li a: {
    color: aqua;
} */

#getq {
    display: flex;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    background-color: var(--element-color);
    align-items: center;
    justify-content: center;

}

#arrow {
    padding-left: 7px;
    width: 25px;
    height: 25px;
}


#item-inuse {
    color: var(--element-color);
}


/* nanvbar ends  */


.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1{
  color: #ffaa00;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #ffaa00;
  padding: 10px;
  color: #ffaa00;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffaa00;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffaa00;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffaa00;
}

.btn {
    background: #FF9341;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover{
    background: #c85a00;
}

/* footer  */

footer {
    width: 100%;
  
    color: #ffffff;
    background: linear-gradient(to right, #af5301, #ff6600);
    padding: 70px 3px 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    text-decoration: none;
    color: black;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .bx {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .bx {
    font-size: 16px;
    color: #ccc;
}

.social-icons .bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.social-icons .bx:hover {
    color: black;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid#ffffff;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

/*       * must be done * 
        next media query changes at 715
*/

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}