
@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebeaea;
}
.container{
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index:0;
    padding: 12rem;
    box-shadow: 2px 2px rgba(#272626c9);
    border-radius: 10px;
}
.container span{
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #fd7600;
    border-radius:8px ;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s/50));
}
@keyframes animateBlink{
    0%{
        background: #a34100;
    }
    25%{
        background:#fd6a00;
    }
}

.login-box{
    position: absolute;
    width: 400px;
   /* background: red;*/

}
.login-box form{
    width: 100%;
    padding: 0 50px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    }
.input-box{
    position: relative;
    margin: 25px 0;

}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ff5900;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #ff6a00;
    padding: 0 20px;
    transition: .5s ease;
}
.input-box input:focus,
.input-box input:valid{
    
   border-color: #a34100;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ff6600;
    pointer-events: none;
    transition: 0.3s ease;
}
.input-box input:focus~label,
.input-box input:valid~label{
    
    top:1px;
    font-size: .9em;
    background:#FF9341;
    padding: 0 6px;
    color: #ffffff;
}
.forgot-pass{
    text-align: center;
    margin:-15px 0 10px;
}
.forgot-pass a{
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #ff6f00;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
}
.btn:hover{
    color:#a34100 ;
}
.signup-link{
    margin: 20px 0 10px;
    text-align: center;

}
.signup-link a{
    text-align: center;
    color: #ede9e5(53, 233, 233);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}
.signup-link a:hover{
    text-decoration: underline;
    color: #ffffff;
}