
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-color: #D7D7D7;
    --second-bg-color: #bcbcbc;
    --block-color: #484848;
    --element-color: #FF9341;
    --text-color: #7F7B7B;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
    background-color: #bcbcbc;
    transition: 0.2s;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #bcbcbc;
}

#navbar::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

/* Navigation Bar: logo and image */

#logo {
    margin: 10px 20px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
    flex-wrap: wrap;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    display: block;
    color: var(--text-color);
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    background-color: var(--second-bg-color);
    color: black;
}

#getq {
    text-decoration: none;
    border: 2px solid var(--element-color);
    padding: 3px 22px;
    border-radius: 20px;
    background-color: #FF9341;
    text:var(--white);
}
#getq a:hover{
    color: #ffffff;
} 
.services h2{
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem ;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--white);
    border-radius: 2rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid var(--text-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
